canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.html{
    overflow-x: hidden;
}
main{
    width: 100vw;
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#hero {
    background: url('assets/bricks.jpg') center center/cover no-repeat;
    /* linear-gradient(to bottom right, #c68c53, #e0b589); Soft brown gradient */
    color: #fefcfc; /* Dark text color */
    width: 50vw;
    height: 100vh;
    margin: 0 ;
    padding: 0;
    border-radius: 20px; /* Soften edges */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: auto; /* Center vertically */
    align-items: center;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.title {
    font-family: "Great Vibes", cursive;
    font-style: regular;
    font-weight:bolder;
    font-size: 70px;
    color: rgb(52, 23, 23);
    text-shadow: 8px 8px 8px rgba(209, 18, 18, 0.5);
    animation: moveUpDown 2s infinite;
}
.sub-title{
    font-family: "Great Vibes", cursive;
    font-style: regular;
    font-weight: 400;
    font-size: 50px;
    color: rgb(248, 247, 247);
    animation: moveUpDown 2s infinite;
}

@media (max-width: 768px) {
    .title {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
}
section {
    grid-column: 2 / 8;
    padding: 1 rem;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* The navbar container */
.navbar {
    padding: 0;
    position: relative;
    z-index: 1000;
    background-color: rgba(165, 139, 54, 0.752);
}

/* Style the list container */
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

/* Style each element in the list */
.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 20px;
}

/* The style for all a tags within navbar */
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #521d1d;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
}

/* Underline on hover */
.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    width: 0;
    background-color: #ce0c0c;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

/* Makes the underline visible when hovered over */
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 80%;
}

/* The dropdown styling */
.navbar .dropdown ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #4e4e4e;
}

/* Change the color of text in dropdown when hovered over */
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #ea9191;
}

/* Show dropdown on hover */
.navbar .dropdown:hover>ul {
    display: block;
}


.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: none;
  z-index: 100;
}

.dropdown-share {
  background-color: #b96e4ba3 ;
  position: relative;
  display: inline-block;

  border-radius: 50px;
  transition: 0.2s;
  z-index: 100;
}

.dropdown-share:hover {
  box-shadow: 6px 6px rgba(0, 0, 0); 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 3;
}

.dropdown-content button {
  color: rgb(251, 245, 245);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: flex;
}

.button-share {
  border: none;
  background-color: black;
  padding: 0;
}

.button-share:hover {
  background-color: gray;
  cursor: pointer;
}

.button-icon {
  font-size: 1.5rem;
  color: pink;
  width: 100%;
}

