body {
    margin: 0px;
    overflow: hidden;
    /* position: relative; Ensure relative positioning for absolute children */
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* The navbar container */
.navbar {
    padding: 0;
    position: relative;
    z-index: 1000;
    background-color: rgba(165, 139, 54, 0.752);
}

/* Style the list container */
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

/* Style each element in the list */
.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 20px;
}

/* The style for all a tags within navbar */
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #521d1d;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
}

/* Underline on hover */
.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    width: 0;
    background-color: #ce0c0c;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

/* Makes the underline visible when hovered over */
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 80%;
}

/* The dropdown styling */
.navbar .dropdown ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #4e4e4e;
}

/* Change the color of text in dropdown when hovered over */
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #ea9191;
}

/* Show dropdown on hover */
.navbar .dropdown:hover>ul {
    display: block;
}







.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; /* Ensure the heading appears above other content */
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 80px;
    color: rgb(105, 86, 86);
    text-shadow: 8px 8px 8px rgba(209, 18, 18, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Ensure text does not wrap */
}

@media (max-width: 768px) {
    .title {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  background: none;
}

.dropdown-share {
  background-color: #ff4bffa3 ;
  position: relative;
  display: inline-block;

  border-radius: 50px;
  transition: 0.2s;
}

.dropdown-share:hover {
  box-shadow: 6px 6px rgba(0, 0, 0); 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: flex;
}

.button-share {
  border: none;
  background-color: black;
  padding: 0;
}

.button-share:hover {
  background-color: gray;
  cursor: pointer;
}

.button-icon {
  font-size: 1.5rem;
  color: pink;
  width: 100%;
}

